 <!-- components: 
 - Componentes reutilizables. 
    -  Estos componentes son los bloques de construcción de la interfaz de usuario y cada uno representa una
    parte de la UI.

- Un componente es un fragmento de código autocontenido que controla su
propia salida, lo que significa que puede procesar su propia lógica y renderizar su propia
interfaz de usuario. Esto hace que los componentes sean reutilizables, ya que pueden
utilizarse en múltiples lugares de tu aplicación sin necesidad de ser reescritos.

Se pueden tener subcarpetas de Footer, header, sidebar. Cada una de estas subcarpetas contendría los archivos JavaScript o de
Typescript y CSS del componente respectivo.  
-->